
    <!-- begin:: Page -->

    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
      <div class="kt-header-mobile__logo">
        <a href="demo1/index.html">
          <img alt="Logo" src="assets/media/logos/zogolo.png" class="width-100"/>
        </a>
      </div>
      <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
      </div>
    </div>

    <!-- end:: Header Mobile -->

    <div class="kt-grid kt-grid--hor kt-grid--root">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

        <!-- begin:: Aside -->
        <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
        
        <app-sidenav></app-sidenav>

        <!-- end:: Aside -->

        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

          <!-- begin:: Header -->
        
          <app-header></app-header>

          <!-- end:: Header -->

          <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

            <!-- begin:: Content Head -->
            <div class="kt-subheader   kt-grid__item" id="kt_subheader">
              <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">Dashboard</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">#XRS-45670</span>
                <a href="#" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                  Add New
                </a>
                <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                  <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                  <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                  </span>
                </div>
              </div>
              <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                  <a href="#" class="btn kt-subheader__btn-secondary">Today</a>
                  <a href="#" class="btn kt-subheader__btn-secondary">Month</a>
                  <a href="#" class="btn kt-subheader__btn-secondary">Year</a>
                  <a href="#" class="btn kt-subheader__btn-primary">
                    Actions &nbsp;

                    <!--<i class="flaticon2-calendar-1"></i>-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24" />
                        <rect id="Rectangle-8" fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                        <path d="M7.5,11 L16.5,11 C17.3284271,11 18,11.6715729 18,12.5 C18,13.3284271 17.3284271,14 16.5,14 L7.5,14 C6.67157288,14 6,13.3284271 6,12.5 C6,11.6715729 6.67157288,11 7.5,11 Z M10.5,17 L13.5,17 C14.3284271,17 15,17.6715729 15,18.5 C15,19.3284271 14.3284271,20 13.5,20 L10.5,20 C9.67157288,20 9,19.3284271 9,18.5 C9,17.6715729 9.67157288,17 10.5,17 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                      </g>
                    </svg> </a>
                  <div class="dropdown dropdown-inline" data-toggle-="kt-tooltip" title="Quick actions" data-placement="left">
                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                          <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                          <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                        </g>
                      </svg>

                      <!--<i class="flaticon2-plus"></i>-->
                    </a>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

                      <!--begin::Nav-->
                      <ul class="kt-nav">
                        <li class="kt-nav__head">
                          Add anything or jump to:
                          <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item">
                          <a href="#" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-drop"></i>
                            <span class="kt-nav__link-text">Order</span>
                          </a>
                        </li>
                        <li class="kt-nav__item">
                          <a href="#" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                            <span class="kt-nav__link-text">Ticket</span>
                          </a>
                        </li>
                        <li class="kt-nav__item">
                          <a href="#" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-link"></i>
                            <span class="kt-nav__link-text">Goal</span>
                          </a>
                        </li>
                        <li class="kt-nav__item">
                          <a href="#" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-new-email"></i>
                            <span class="kt-nav__link-text">Support Case</span>
                            <span class="kt-nav__link-badge">
                              <span class="kt-badge kt-badge--brand kt-badge--rounded">5</span>
                            </span>
                          </a>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__foot">
                          <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                          <a class="btn btn-clean btn-bold btn-sm kt-hidden" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                        </li>
                      </ul>

                      <!--end::Nav-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- end:: Content Head -->

            <!-- begin:: Content -->


            <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

              <!--Begin::Dashboard 1-->

              <!-- <router-outlet></router-outlet> -->

                <div class="row">
                <div class="col-xl-4">
                    <h1>Hello Admin </h1>
                    <h1>Hello Admin </h1>
                    <h1>Hello Admin </h1>
                    <h1>Hello Admin </h1>
                    <h1>Hello Admin </h1>
                    <h1>Hello Admin </h1>
                </div>
              </div>
              <!--Begin::Section-->
           

              <!--End::Section-->

              <!--End::Dashboard 1-->
            </div>

            <!-- end:: Content -->
          </div>

          <!-- begin:: Footer -->

          <app-footer></app-footer>

          <!-- end:: Footer -->

        </div>
      </div>
    </div>

    <!-- end:: Page -->





    <!-- begin::Quick Panel -->
    <div id="kt_quick_panel" class="kt-quick-panel">
      <a href="#" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>
      <div class="kt-quick-panel__nav">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
          <li class="nav-item active">
            <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_notifications" role="tab">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_logs" role="tab">Audit Logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_settings" role="tab">Settings</a>
          </li>
        </ul>
      </div>
      <div class="kt-quick-panel__content">
        <div class="tab-content">
          <div class="tab-pane fade show kt-scroll active" id="kt_quick_panel_tab_notifications" role="tabpanel">
            <div class="kt-notification">
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-line-chart kt-font-success"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    New order has been received
                  </div>
                  <div class="kt-notification__item-time">
                    2 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-box-1 kt-font-brand"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    New customer is registered
                  </div>
                  <div class="kt-notification__item-time">
                    3 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-chart2 kt-font-danger"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    Application has been approved
                  </div>
                  <div class="kt-notification__item-time">
                    3 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-image-file kt-font-warning"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    New file has been uploaded
                  </div>
                  <div class="kt-notification__item-time">
                    5 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-bar-chart kt-font-info"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    New user feedback received
                  </div>
                  <div class="kt-notification__item-time">
                    8 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-pie-chart-2 kt-font-success"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    System reboot has been successfully completed
                  </div>
                  <div class="kt-notification__item-time">
                    12 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-favourite kt-font-danger"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    New order has been placed
                  </div>
                  <div class="kt-notification__item-time">
                    15 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item kt-notification__item--read">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-safe kt-font-primary"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    Company meeting canceled
                  </div>
                  <div class="kt-notification__item-time">
                    19 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-psd kt-font-success"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    New report has been received
                  </div>
                  <div class="kt-notification__item-time">
                    23 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon-download-1 kt-font-danger"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    Finance report has been generated
                  </div>
                  <div class="kt-notification__item-time">
                    25 hrs ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon-security kt-font-warning"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    New customer comment recieved
                  </div>
                  <div class="kt-notification__item-time">
                    2 days ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification__item">
                <div class="kt-notification__item-icon">
                  <i class="flaticon2-pie-chart kt-font-warning"></i>
                </div>
                <div class="kt-notification__item-details">
                  <div class="kt-notification__item-title">
                    New customer is registered
                  </div>
                  <div class="kt-notification__item-time">
                    3 days ago
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="tab-pane fade kt-scroll" id="kt_quick_panel_tab_logs" role="tabpanel">
            <div class="kt-notification-v2">
              <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon">
                  <i class="flaticon-bell kt-font-brand"></i>
                </div>
                <div class="kt-notification-v2__itek-wrapper">
                  <div class="kt-notification-v2__item-title">
                    5 new user generated report
                  </div>
                  <div class="kt-notification-v2__item-desc">
                    Reports based on sales
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon">
                  <i class="flaticon2-box kt-font-danger"></i>
                </div>
                <div class="kt-notification-v2__itek-wrapper">
                  <div class="kt-notification-v2__item-title">
                    2 new items submited
                  </div>
                  <div class="kt-notification-v2__item-desc">
                    by Grog John
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon">
                  <i class="flaticon-psd kt-font-brand"></i>
                </div>
                <div class="kt-notification-v2__itek-wrapper">
                  <div class="kt-notification-v2__item-title">
                    79 PSD files generated
                  </div>
                  <div class="kt-notification-v2__item-desc">
                    Reports based on sales
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon">
                  <i class="flaticon2-supermarket kt-font-warning"></i>
                </div>
                <div class="kt-notification-v2__itek-wrapper">
                  <div class="kt-notification-v2__item-title">
                    $2900 worth producucts sold
                  </div>
                  <div class="kt-notification-v2__item-desc">
                    Total 234 items
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon">
                  <i class="flaticon-paper-plane-1 kt-font-success"></i>
                </div>
                <div class="kt-notification-v2__itek-wrapper">
                  <div class="kt-notification-v2__item-title">
                    4.5h-avarage response time
                  </div>
                  <div class="kt-notification-v2__item-desc">
                    Fostest is Barry
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon">
                  <i class="flaticon2-information kt-font-danger"></i>
                </div>
                <div class="kt-notification-v2__itek-wrapper">
                  <div class="kt-notification-v2__item-title">
                    Database server is down
                  </div>
                  <div class="kt-notification-v2__item-desc">
                    10 mins ago
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon">
                  <i class="flaticon2-mail-1 kt-font-brand"></i>
                </div>
                <div class="kt-notification-v2__itek-wrapper">
                  <div class="kt-notification-v2__item-title">
                    System report has been generated
                  </div>
                  <div class="kt-notification-v2__item-desc">
                    Fostest is Barry
                  </div>
                </div>
              </a>
              <a href="#" class="kt-notification-v2__item">
                <div class="kt-notification-v2__item-icon">
                  <i class="flaticon2-hangouts-logo kt-font-warning"></i>
                </div>
                <div class="kt-notification-v2__itek-wrapper">
                  <div class="kt-notification-v2__item-title">
                    4.5h-avarage response time
                  </div>
                  <div class="kt-notification-v2__item-desc">
                    Fostest is Barry
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll" id="kt_quick_panel_tab_settings" role="tabpanel">
            <form class="kt-form">
              <div class="kt-heading kt-heading--sm kt-heading--space-sm">Customer Care</div>
              <div class="form-group form-group-xs row">
                <label class="col-8 col-form-label">Enable Notifications:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--success kt-switch--sm">
                    <label>
                      <input type="checkbox" checked="checked" name="quick_panel_notifications_1">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="form-group form-group-xs row">
                <label class="col-8 col-form-label">Enable Case Tracking:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--success kt-switch--sm">
                    <label>
                      <input type="checkbox" name="quick_panel_notifications_2">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="form-group form-group-last form-group-xs row">
                <label class="col-8 col-form-label">Support Portal:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--success kt-switch--sm">
                    <label>
                      <input type="checkbox" checked="checked" name="quick_panel_notifications_2">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
              <div class="kt-heading kt-heading--sm kt-heading--space-sm">Reports</div>
              <div class="form-group form-group-xs row">
                <label class="col-8 col-form-label">Generate Reports:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--sm kt-switch--danger">
                    <label>
                      <input type="checkbox" checked="checked" name="quick_panel_notifications_3">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="form-group form-group-xs row">
                <label class="col-8 col-form-label">Enable Report Export:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--sm kt-switch--danger">
                    <label>
                      <input type="checkbox" name="quick_panel_notifications_3">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="form-group form-group-last form-group-xs row">
                <label class="col-8 col-form-label">Allow Data Collection:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--sm kt-switch--danger">
                    <label>
                      <input type="checkbox" checked="checked" name="quick_panel_notifications_4">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
              <div class="kt-heading kt-heading--sm kt-heading--space-sm">Memebers</div>
              <div class="form-group form-group-xs row">
                <label class="col-8 col-form-label">Enable Member singup:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--sm kt-switch--brand">
                    <label>
                      <input type="checkbox" checked="checked" name="quick_panel_notifications_5">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="form-group form-group-xs row">
                <label class="col-8 col-form-label">Allow User Feedbacks:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--sm kt-switch--brand">
                    <label>
                      <input type="checkbox" name="quick_panel_notifications_5">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="form-group form-group-last form-group-xs row">
                <label class="col-8 col-form-label">Enable Customer Portal:</label>
                <div class="col-4 kt-align-right">
                  <span class="kt-switch kt-switch--sm kt-switch--brand">
                    <label>
                      <input type="checkbox" checked="checked" name="quick_panel_notifications_6">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- end::Quick Panel -->

    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
      <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->

    <!-- begin::Sticky Toolbar -->
    <ul class="kt-sticky-toolbar" style="margin-top: 30px;">
      <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success" id="kt_demo_panel_toggle" data-toggle="kt-tooltip" title="Check out more demos" data-placement="right">
        <a href="#" class=""><i class="flaticon2-drop"></i></a>
      </li>
      <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--brand" data-toggle="kt-tooltip" title="Layout Builder" data-placement="left">
        <a href="https://keenthemes.com/metronic/preview/demo1/builder.html" target="_blank"><i class="flaticon2-gear"></i></a>
      </li>
      <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--warning" data-toggle="kt-tooltip" title="Documentation" data-placement="left">
        <a href="https://keenthemes.com/metronic/?page=docs" target="_blank"><i class="flaticon2-telegram-logo"></i></a>
      </li>
      <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--danger" id="kt_sticky_toolbar_chat_toggler" data-toggle="kt-tooltip" title="Chat Example" data-placement="left">
        <a href="#" data-toggle="modal" data-target="#kt_chat_modal"><i class="flaticon2-chat-1"></i></a>
      </li>
    </ul>

    <!-- end::Sticky Toolbar -->

    <!-- begin::Demo Panel -->
    <div id="kt_demo_panel" class="kt-demo-panel">
      <div class="kt-demo-panel__head">
        <h3 class="kt-demo-panel__title">
          Select A Demo

          <!--<small>5</small>-->
        </h3>
        <a href="#" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
      </div>
      <div class="kt-demo-panel__body">
        <div class="kt-demo-panel__item kt-demo-panel__item--active">
          <div class="kt-demo-panel__item-title">
            Default
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo1.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo1/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 2
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo2.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo2/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 3
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo3.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo3/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 4
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo4.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo4/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 5
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo5.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo5/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 6
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo6.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo6/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 7
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo7.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo7/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 8
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo8.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo8/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 9
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo9.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo9/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 10
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo10.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo10/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 11
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo11.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo11/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 12
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo12.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="demo12/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 13
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo13.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
            </div>
          </div>
        </div>
        <div class="kt-demo-panel__item ">
          <div class="kt-demo-panel__item-title">
            Demo 14
          </div>
          <div class="kt-demo-panel__item-preview">
            <img src="assets/media/demos/preview/demo14.jpg" alt="" />
            <div class="kt-demo-panel__item-preview-overlay">
              <a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
            </div>
          </div>
        </div>
        <a href="https://1.envato.market/EA4JP" target="_blank" class="kt-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">
          Buy Metronic Now!
        </a>
      </div>
    </div>

    <!-- end::Demo Panel -->

    <!--Begin:: Chat-->
    <div class="modal fade- modal-sticky-bottom-right" id="kt_chat_modal" role="dialog" data-backdrop="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="kt-chat">
            <div class="kt-portlet kt-portlet--last">
              <div class="kt-portlet__head">
                <div class="kt-chat__head ">
                  <div class="kt-chat__left">
                    <div class="kt-chat__label">
                      <a href="#" class="kt-chat__title">Jason Muller</a>
                      <span class="kt-chat__status">
                        <span class="kt-badge kt-badge--dot kt-badge--success"></span> Active
                      </span>
                    </div>
                  </div>
                  <div class="kt-chat__right">
                    <div class="dropdown dropdown-inline">
                      <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon-more-1"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-md">

                        <!--begin::Nav-->
                        <ul class="kt-nav">
                          <li class="kt-nav__head">
                            Messaging
                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                          </li>
                          <li class="kt-nav__separator"></li>
                          <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                              <i class="kt-nav__link-icon flaticon2-group"></i>
                              <span class="kt-nav__link-text">New Group</span>
                            </a>
                          </li>
                          <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                              <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                              <span class="kt-nav__link-text">Contacts</span>
                              <span class="kt-nav__link-badge">
                                <span class="kt-badge kt-badge--brand  kt-badge--rounded-">5</span>
                              </span>
                            </a>
                          </li>
                          <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                              <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                              <span class="kt-nav__link-text">Calls</span>
                            </a>
                          </li>
                          <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                              <i class="kt-nav__link-icon flaticon2-dashboard"></i>
                              <span class="kt-nav__link-text">Settings</span>
                            </a>
                          </li>
                          <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                              <i class="kt-nav__link-icon flaticon2-protected"></i>
                              <span class="kt-nav__link-text">Help</span>
                            </a>
                          </li>
                          <li class="kt-nav__separator"></li>
                          <li class="kt-nav__foot">
                            <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                          </li>
                        </ul>

                        <!--end::Nav-->
                      </div>
                    </div>
                    <button type="button" class="btn btn-clean btn-sm btn-icon" data-dismiss="modal">
                      <i class="flaticon2-cross"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="kt-portlet__body">
                <div class="kt-scroll kt-scroll--pull" data-height="410" data-mobile-height="300">
                  <div class="kt-chat__messages kt-chat__messages kt-chat__messages--modal">
                    <div class="kt-chat__message kt-bg-light-success">
                      <div class="kt-chat__user">
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                          <img src="assets/media/users/100_12.jpg" alt="image">
                        </span>
                        <a href="#" class="kt-chat__username">Jason Muller</a>
                        <span class="kt-chat__datetime">2 Hours</span>
                      </div>
                      <div class="kt-chat__text">
                        How likely are you to recommend our company<br> to your friends and family?
                      </div>
                    </div>
                    <div class="kt-chat__message kt-chat__message--right kt-bg-light-brand">
                      <div class="kt-chat__user">
                        <span class="kt-chat__datetime">30 Seconds</span>
                        <a href="#" class="kt-chat__username">You</a>
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                          <img src="assets/media/users/300_21.jpg" alt="image">
                        </span>
                      </div>
                      <div class="kt-chat__text">
                        Hey there, we’re just writing to let you know that you’ve<br> been subscribed to a repository on GitHub.
                      </div>
                    </div>
                    <div class="kt-chat__message kt-bg-light-success">
                      <div class="kt-chat__user">
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                          <img src="assets/media/users/100_12.jpg" alt="image">
                        </span>
                        <a href="#" class="kt-chat__username">Jason Muller</a>
                        <span class="kt-chat__datetime">30 Seconds</span>
                      </div>
                      <div class="kt-chat__text">
                        Ok, Understood!
                      </div>
                    </div>
                    <div class="kt-chat__message kt-chat__message--right kt-bg-light-brand">
                      <div class="kt-chat__user">
                        <span class="kt-chat__datetime">Just Now</span>
                        <a href="#" class="kt-chat__username">You</a>
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                          <img src="assets/media/users/300_21.jpg" alt="image">
                        </span>
                      </div>
                      <div class="kt-chat__text">
                        You’ll receive notifications for all issues, pull requests!
                      </div>
                    </div>
                    <div class="kt-chat__message kt-bg-light-success">
                      <div class="kt-chat__user">
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                          <img src="assets/media/users/100_12.jpg" alt="image">
                        </span>
                        <a href="#" class="kt-chat__username">Jason Muller</a>
                        <span class="kt-chat__datetime">2 Hours</span>
                      </div>
                      <div class="kt-chat__text">
                        You were automatically <b class="kt-font-brand">subscribed</b> <br>because you’ve been given access to the repository
                      </div>
                    </div>
                    <div class="kt-chat__message kt-chat__message--right kt-bg-light-brand">
                      <div class="kt-chat__user">
                        <span class="kt-chat__datetime">30 Seconds</span>
                        <a href="#" class="kt-chat__username">You</a>
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                          <img src="assets/media/users/300_21.jpg" alt="image">
                        </span>
                      </div>
                      <div class="kt-chat__text">
                        You can unwatch this repository immediately <br>by clicking here: <a href="#" class="kt-font-bold kt-link"></a>
                      </div>
                    </div>
                    <div class="kt-chat__message kt-bg-light-success">
                      <div class="kt-chat__user">
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                          <img src="assets/media/users/100_12.jpg" alt="image">
                        </span>
                        <a href="#" class="kt-chat__username">Jason Muller</a>
                        <span class="kt-chat__datetime">30 Seconds</span>
                      </div>
                      <div class="kt-chat__text">
                        Discover what students who viewed Learn <br>Figma - UI/UX Design Essential Training also viewed
                      </div>
                    </div>
                    <div class="kt-chat__message kt-chat__message--right kt-bg-light-brand">
                      <div class="kt-chat__user">
                        <span class="kt-chat__datetime">Just Now</span>
                        <a href="#" class="kt-chat__username">You</a>
                        <span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                          <img src="assets/media/users/300_21.jpg" alt="image">
                        </span>
                      </div>
                      <div class="kt-chat__text">
                        Most purchased Business courses during this sale!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="kt-portlet__foot">
                <div class="kt-chat__input">
                  <div class="kt-chat__editor">
                    <textarea placeholder="Type here..." style="height: 50px"></textarea>
                  </div>
                  <div class="kt-chat__toolbar">
                    <div class="kt_chat__tools">
                      <a href="#"><i class="flaticon2-link"></i></a>
                      <a href="#"><i class="flaticon2-photograph"></i></a>
                      <a href="#"><i class="flaticon2-photo-camera"></i></a>
                    </div>
                    <div class="kt_chat__actions">
                      <button type="button" class="btn btn-brand btn-md  btn-font-sm btn-upper btn-bold kt-chat__reply">reply</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!--ENd:: Chat-->
    